<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- 必須ユーティリティ -->
    <package id="lhaplus" />
    <!-- プログラミング -->
    <package id="python" />
    <!-- svn -->
    <package id="tortoisesvn" />
    <package id="winmerge" />
    <!-- git -->
    <package id="git" />
    <package id="SourceTree" />
    <!-- Jsonのパース -->
    <package id="jq" />
</packages>
