'atom-text-editor.vim-mode:not(.insert-mode)':
# cmd-r         シンボル一覧
# cmd-/         コメントトグル
# cmd-b         バッファー一覧
# cmd-p         ファイル一覧
# cmd-¥         ファイルツリー表示
# @             次のブックマーク
  '@'           : 'bookmarks:jump-to-next-bookmark'
# shift-@       前のブックマーク
  '`'           : "bookmarks:jump-to-previous-bookmark"
# m             ブックマークトグル
  'm'           : "bookmarks:toggle-bookmark"
# f5            ビルド
  'f5'          : 'build:trigger'
# cmd-s         保存（ノーマルモードへ戻る）
'atom-text-editor.vim-mode':
  'cmd-s'       : 'custom:save-and-normalmode'
# :             コマンドパレット
'atom-text-editor.vim-mode.normal-mode':
  ':'           : 'command-palette:toggle'
# --------------------------------------
# golang
"atom-text-editor[data-grammar='source go']":
# cmd-d         定義へ移動
  'cmd-d'       : 'golang:godef'
# shift-cmd-d   定義から戻る
  'shift-cmd-d' : 'golang:godef-return'
