# --------------------------------------
# いつでも
'atom-text-editor':
# f11           スニペット表示
  'f11'         : 'snippets:available'
# --------------------------------------
# ノーマルモード時
'atom-text-editor.vim-mode:not(.insert-mode)':
# cmd-r         シンボル一覧
# cmd-/         コメントトグル
# cmd-b         バッファー一覧
# cmd-p         ファイル一覧
# cmd-¥         ファイルツリー表示
# @             次のブックマーク
  '@'           : 'bookmarks:jump-to-next-bookmark'
# shift-@       前のブックマーク
  '`'           : "bookmarks:jump-to-previous-bookmark"
# m             ブックマークトグル
  'm'           : "bookmarks:toggle-bookmark"
# f5            スクリプト実行
  'f5'          : 'script:run'
# f6            ビルド
  'f6'          : 'build:trigger'
# :             コマンドパレット
  ':'           : 'command-palette:toggle'
# --------------------------------------
# インサートモード時
'atom-text-editor.vim-mode.insert-mode':
# cmd-s         保存（ノーマルモードへ戻る）
  'cmd-s'       : 'custom:save-and-normalmode'
# --------------------------------------
# golang
"atom-text-editor[data-grammar='source go']":
# f12           定義へ移動
  'f12'         : 'golang:godef'
# shift-cmd-d   定義から戻る
  'shift-f12'   : 'golang:godef-return'
