# 今のスコープを調べるコマンド→ Log Cursor Scope
#
#
# coffee script
'.source.coffee':
 'Console log':
   'prefix': 'log'
   'body': 'console.log $1'

# golang
'.source.go':
  'ディレクトリのファイル一覧の取得':
    'prefix' : 'listfile'
    'body' : 'ioutil.ReadDir(${1:"filepath"})'
  '表示':
    'prefix' : 'print'
    'body' : 'fmt.Println($1)'
  'スライスの作成':
    'prefix' : 'createslice'
    'body' : 'make([]${1:"type"}, ${2:"length:int"})'
  'ソート用の型の作成':
    'prefix' : 'type4sort'
    'body' : '''
type ${1:"TypeName"} []${2:"SortedType"}
func (list $1) Len() int {
	return len(list)
}
func (list $1) Swap(i, j int) {
	list[i], list[j] = list[j], list[i]
}
func (list $1) Less(i, j int) bool {
	return ${3:"less"}
}
// sort.Sort(list)
'''

# markdown
'.source.gfm':
  'Hugoのトップ':
    'prefix': 'hugotop'
    'body':'''
+++
date = "2015-09-20T09:51:54+09:00"
title = "$1"
categories = "$2"
+++
'''
